/*********************************************
Break Points
**********************************************/
@font-face {
  font-family: calibri;
  src: url("/assets/font/calibrib.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1080px;
}

.section-header {
  background-color: #000000;
  width: 100%;
  color: #ffffff;
}

.f-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-auto {
  margin: auto;
}

.d-flex {
  display: flex;
}
@media (max-width : 767px) {
  .d-flex {
    flex-direction: column;
  }
}

.gap-1-lg {
  gap: 1rem;
}
@media (max-width : 767px) {
  .gap-1-lg {
    gap: 0rem;
  }
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.bg-black {
  background-color: #000000;
}
.bg-gray {
  background-color: #6c7070;
}
.bg-gray-dark {
  background-color: #58595b;
}
.bg-gray-light {
  background-color: #d1d3d4;
}
.bg-white {
  background-color: #ffffff;
}
.bg-white-dark {
  background-color: #e6e7e8;
}
.bg-red {
  background-color: #ec2227;
}
.bg-dark {
  background-color: #231f20;
}

.text-black {
  color: #000000;
}
.text-white {
  color: #ffffff;
}
.text-gray {
  color: #6c7070;
}
.text-gray-dark {
  color: #58595b;
}
.text-gray-light {
  color: #d1d3d4;
}

.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-7 {
  margin-bottom: 2rem;
}
.mb-8 {
  margin-bottom: 2.5rem;
}
.mb-9 {
  margin-bottom: 3rem;
}
.mb-10 {
  margin-bottom: 3.375rem;
}
.mb-11 {
  margin-bottom: 4rem;
}
.mb-12 {
  margin-bottom: 4.5rem;
}
.mb-13 {
  margin-bottom: 5rem;
}
.mb-14 {
  margin-bottom: 6rem;
}

.ps-1 {
  margin-left: 1.5rem;
}
.ps-2 {
  margin-left: 2rem;
}
.ps-3 {
  margin-left: 2.5rem;
}

.pe-1 {
  margin-right: 1.5rem;
}
.pe-2 {
  margin-right: 2rem;
}
.pe-3 {
  margin-right: 2.5rem;
}

.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 0.75rem;
}

.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pt-7 {
  padding-top: 2rem;
}
.pt-8 {
  padding-top: 2.5rem;
}
.pt-9 {
  padding-top: 3rem;
}
.pt-10 {
  padding-top: 3.375rem;
}
.pt-11 {
  padding-top: 4rem;
}
.pt-12 {
  padding-top: 4.5rem;
}
.pt-13 {
  padding-top: 5rem;
}
.pt-14 {
  padding-top: 6rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pb-7 {
  padding-bottom: 2rem;
}
.pb-8 {
  padding-bottom: 2.5rem;
}
.pb-9 {
  padding-bottom: 3rem;
}
.pb-10 {
  padding-bottom: 3.375rem;
}
.pb-11 {
  padding-bottom: 4rem;
}
.pb-12 {
  padding-bottom: 4.5rem;
}
.pb-13 {
  padding-bottom: 5rem;
}
.pb-14 {
  padding-bottom: 6rem;
}

.desc-3, .desc-2, .desc-1 {
  font-family: arial, sans-serif;
}

.desc-1 {
  font-size: 14px;
}
.desc-2 {
  font-size: 12px;
  line-height: 11px;
}
.desc-3 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
}

.heading-1 {
  font-size: clamp(6rem, 13vw, 9.375rem);
  font-weight: bold;
  font-family: calibri;
}
.heading-2 {
  font-size: 28px;
  font-weight: bold;
  font-family: arial, sans-serif;
}
.heading-5 {
  font-size: 30px;
  font-weight: bold;
  font-family: Myriad Por;
}
.heading-6 {
  font-size: 18px;
  font-weight: bold;
  font-family: arial, sans-serif;
}

.logo-sm, .logo-md, .logo-lg, .logo-xl, .logo-xxl {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.logo-xxl {
  max-width: 651px;
}
.logo-xl {
  max-width: 533px;
}
.logo-lg {
  max-width: 393px;
}
.logo-md {
  max-width: 257px;
}
.logo-sm {
  max-width: 174px;
}

.w-100 {
  width: 100%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
@media (max-width : 767px) {
  .w-60 {
    width: 100%;
  }
  .w-50 {
    width: 100%;
  }
  .w-40 {
    width: 100%;
  }
}

.border {
  border: 6px solid #000000;
}

.fs-normal {
  font-weight: normal;
}

.ls-1 {
  letter-spacing: 2px;
}

.color {
  display: grid;
  grid-template-columns: 50px repeat(5, 1fr);
  place-items: center;
  grid-gap: 20px;
  justify-content: center;
  padding-inline: 30px;
}
.color li {
  list-style: none;
}
.color-card {
  display: flex;
}
.color-value {
  display: flex;
  justify-self: flex-end;
  align-self: end;
}
.color-value-2, .color-value-3, .color-value-4, .color-value-5 {
  display: none;
}
.color-box {
  height: 2.6206rem;
}
.color-type {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

@media (max-width: 1030px) {
  .color {
    grid-template-columns: 50px repeat(3, 1fr);
  }
  .color-value-4 {
    display: block;
  }
}
@media (max-width: 767px) {
  .color {
    grid-template-columns: 50px repeat(2, 1fr);
    padding-inline: 12px;
    grid-gap: 0.75rem;
  }
  .color-value-3 {
    display: block;
  }
  .color-value-4 {
    display: none;
  }
  .color-value-5 {
    display: block;
  }
}
@media (max-width: 455px) {
  .color {
    grid-template-columns: 50px repeat(1, 1fr);
    padding-inline: 10px;
    grid-gap: 0.75rem;
  }
  .color-value-1 {
    display: block;
  }
  .color-value-2 {
    display: block;
  }
  .color-value-3 {
    display: block;
  }
  .color-value-4 {
    display: block;
  }
  .color-value-5 {
    display: block;
  }
}
.d-none {
  display: none;
}
@media (max-width : 767px) {
  .d-none-flex {
    flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */